<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/a1a418fc9c.js" crossorigin="anonymous"></script>
        
        <title>Mercado Liebre</title>
    </head>

    <body>
        <header class="header">
            
            <img class="header__logo" src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Libre">
            <input class="header__buscador" type="text" value="Buscar productos, marcas">
            
            
            <p class="header__texto"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            
            <div class="header__menu">
                <i class="fas fa-bars"></i>
            </div>

            <nav class="nav">
                <ul>
                    <li class="nav__item"><a class="nav__link" href="">Ofertas</a></li>
                    <li class="nav__item"><a class="nav__link" href="">Tiendas Oficiales</a></li>
                    <li class="nav__item"><a class="nav__link" href="">Vender</a></li>
                    <li class="nav__item"><a class="nav__link" href="">Ayuda</a></li>
                    <li class="nav__item"><a class="nav__link" href="">Creá tu cuenta<i class="fas fa-user"></i></a></li>
                    <li class="nav__item"><a class="nav__link" href="">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li class="nav__item"><a class="nav__link" href="">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
            
        </header>

        <main class="main">
            <img class="main__banner" src="/images/img-home-banner.jpg" alt="Home Banner">

            <section>
                <h2 class="main__titulo">Basado en tu última visita</h2>
                <article class="art">
                    <img class="art__img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="art__descripcion">
                        <i class="art__logo-envio fas fa-truck-moving"></i>
                        <p class="art__precio">$6.770</p>
                        <p class="art__descuento">40% OFF</p>
                        <h3 class="art__nombre-articulo">Cafetera Moulinex</h3> 
                    </div>   
                </article>
                
                <article class="art">
                    <img class="art__img" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="art__descripcion">
                        <i class="art__logo-envio fas fa-truck-moving"></i>
                        <p class="art__precio">$230.000</p>
                        <p class="art__descuento">20% off</p>
                        <h3 class="art__nombre-articulo">MacBook Pro 2019</h3>
                    </div>  
                </article>
                
                <article class="art">
                    <img class="art__img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="art__descripcion">
                        <i class="art__logo-envio fas fa-truck-moving"></i>
                        <p class="art__precio">$70.500</p>
                        <p class="art__descuento">10% off</p>
                        <h3 class="art__nombre-articulo">Samsung Galaxy S10</h3>
                    </div>
                    </article>
                
                <article class="art">
                    <img class="art__img" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"">
                    <div class="art__descripcion">
                        <i class="art__logo-envio fas fa-truck-moving"></i>
                        <p class="art__precio">$23.200</p>
                        <p class="art__descuento">5% off</p>
                        <h3 class="art__nombre-articulo">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </section>

            <section>
                <h2 class="main__titulo">Ofertas</h2>
                <article class="art">
                    <img class="art__img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="art__descripcion">
                        <i class="art__logo-envio fas fa-truck-moving"></i>
                        <p class="art__precio">$6.770</p>
                        <p class="art__descuento">40% OFF</p>
                        <h3 class="art__nombre-articulo">Cafetera Moulinex</h3> 
                    </div>   
                </article>
                
                <article class="art">
                    <img class="art__img" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="art__descripcion">
                        <i class="art__logo-envio fas fa-truck-moving"></i>
                        <p class="art__precio">$230.000</p>
                        <p class="art__descuento">20% off</p>
                        <h3 class="art__nombre-articulo">MacBook Pro 2019</h3>
                    </div>  
                </article>
                
                <article class="art">
                    <img class="art__img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="art__descripcion">
                        <i class="art__logo-envio fas fa-truck-moving"></i>
                        <p class="art__precio">$70.500</p>
                        <p class="art__descuento">10% off</p>
                        <h3 class="art__nombre-articulo">Samsung Galaxy S10</h3>
                    </div>
                    </article>
                
                <article class="art">
                    <img class="art__img" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"">
                    <div class="art__descripcion">
                        <i class="art__logo-envio fas fa-truck-moving"></i>
                        <p class="art__precio">$23.200</p>
                        <p class="art__descuento">5% off</p>
                        <h3 class="art__nombre-articulo">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </section>
        </main>

        <footer class="footer">
            <section>
                <i class="fas fa-credit-card footer__icon"></i>
                <h3 class="footer__titles">Pagá con tarjeta o en efectivo</h3>
                <p class="footer__text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                <i class="fas fa-gift footer__icon"></i>
                <h3 class="footer__titles">Envío gratis desde $ 2.500</h3>
                <p class="footer__text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                <i class="fas fa-user-shield footer__icon"></i>
                <h3 class="footer__titles">Seguridad, de principio a fin</h3>
                <p class="footer__text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                <p class="footer__copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>

</html>