<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/register.css">
        <script src="https://kit.fontawesome.com/a1a418fc9c.js" crossorigin="anonymous"></script>
        
        <title>Registro de Usuario</title>
    </head>

    <body>
        <header class="header">
        </header>

        <main class="main">
            <form action="" method="post" class="formulario">
                <label class="formulario__label">
                    Nombre y apellido <br>
                    <input type="text" name="nombre" class="formulario__input-texto" placeholder="Nombre y apellido" required>
                </label>

                <label class="formulario__label">
                    Nombre de usuario<br>
                    <input type="text" name="usuario" class="formulario__input-texto" placeholder="Nombre de usuario" required>
                </label>

                <label class="formulario__label">
                    Email<br>
                    <input type="email" name="email" class="formulario__input-texto" placeholder="Email" required>
                </label>

                <label class="formulario__label">
                    Fecha de nacimiento<br>
                    <input type="date" name="fechaDeNacimiento" required>
                </label>

                <label class="formulario__label">
                    Domicilio<br>
                    <input type="text" name="domicilio" class="formulario__input-texto" placeholder="Domicilio" required>
                </label>

                <label class="formulario__label">
                    Perfil de usuario<br>

                    <label class="formulario__label--normal">
                        <input type="radio" name="perfilDeUsuario" value="comprador" required>
                        Comprador
                    </label>

                    <label class="formulario__label--normal">
                        <input type="radio" name="perfilDeUsuario" value="vendedor" required>
                        Vendedor
                    </label>
                        
                </label>

                <label class="formulario__label">
                    Categorias de interes<br>
                    <label class="formulario__label--normal"> 
                        <input class="formulario__input-checkbox" type="checkbox" name="categoriasDeInteres" value="electro">
                        Electro<br>
                    </label>
                    <label class="formulario__label--normal"> 
                        <input class="formulario__input-checkbox" type="checkbox" name="categoriasDeInteres" value="moda">
                        Moda<br>
                    </label>
                    <label class="formulario__label--normal"> 
                        <input class="formulario__input-checkbox" type="checkbox" name="categoriasDeInteres" value="hogar">
                        Hogar<br>
                    </label>
                    <label class="formulario__label--normal"> 
                        <input class="formulario__input-checkbox" type="checkbox" name="categoriasDeInteres" value="jugueteria">
                        Jugueteria<br>
                    </label>
                    <label class="formulario__label--normal"> 
                        <input class="formulario__input-checkbox" type="checkbox" name="categoriasDeInteres" value="vidaSana">
                        Vida sana<br>
                    </label>
                </label>

                <label class="formulario__label">
                    Foto de usuario<br>
                    <input type="file" name="fotoDeUsuario">
                </label>

                <label class="formulario__label">
                    Contrasena<br>
                    <input type="password" name="contrasena" class="formulario__input-texto" placeholder="Contrasena" required>
                </label>

                <label class="formulario__label">
                    Confirmar contrasena<br>
                    <input type="password" name="contrasena" class="formulario__input-texto" placeholder="Contrasena" required>
                </label>

                <div class="formulario__botones">
                    <button class="formulario__boton" type="reset">Cancelar</button>
                    <button class="formulario__boton" type="submit">Enviar</button>
                </div>  

            </form>
        </main>

        <!-- <footer class="footer">
        </footer> -->
    </body>

</html>