:root {
    --color-blanco: white;
    --color-amarillo: #EAC926;
    --color-crema: #ebebeb;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-verde: #39b54a;
    --color-gris: #666666;
}
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--color-crema);
}



.header {
    background-color: var(--color-amarillo);
    padding: 12px;
    padding-bottom: 20px;
    text-align: center;
}
.header__logo {
    width: 140px;
}
.header__buscador {
    width: 50%;
    height: 35px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--color-gris);
    float: inline-end;
}
.header__texto {
    margin: 30px 0;
}
.header__menu {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 10px 15px;
    border-radius: 5px;
}



.nav {
    display: none;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-between;
}
.nav__item {
    list-style-type: none;
    float: left;
    margin: 0 6px;
}
.nav__link {
    color: black;
    text-decoration: none;
}



.main {
    text-align: center;
    margin: 0 auto;
    width: 90vw;
}
.main__banner {
    width: 100%;
}
.main__titulo {
    font-size: 24px;
}



.art {
    margin-bottom: 10px;
    background-color: var(--color-blanco);
}
.art:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.art:hover .art__nombre-articulo{
    display: block;
}
.section__articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.art__img {
    width: 100%;
}
.art__descripcion {
    border-top: 1px solid var(--color-crema);
    padding: 15px;
    text-align: left;
    position: relative;
}
.art__logo-envio {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.art__logo-envio:hover {
    transform: rotate(-90deg);
    transition: all 500ms;
}
.art__precio {
    color: var(--color-gris);
    font-size: 1.1rem;
    font-weight: 700;
    display: inline;
    margin-right: 5px;
}
.art__descuento {
    color: var(--color-verde);
    font-size: 1rem;
    display: inline;
}
.art__nombre-articulo {
    color: var(--color-gris);
    font-weight: 300;
    margin-top: 20px;
    font-size: 1rem;
    display: none;
}



.footer {
    background-color: var(--color-blanco);
    text-align: center;
    padding: 25px;
}
.footer__icon {
    color: var(--color-azul);
    font-size: 4em;
    margin-top: 20px;
}
.footer__titles {
    margin: 8px;
    color: var(--color-gris);
}
.footer__text {
    font-size: 12px;
    color: var(--color-gris);
    margin: 5px;
}
.footer__copyright {
    font-size: 10px;
    text-align: left;
    margin-top: 30px;
}



@media (min-width: 768px){
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 12px 30px;
    }
    .header__buscador {
        width: 45%;
    }
    .header__texto {
        width: 30%;
        margin: 0;
        text-align: right;
    }
    .header__menu {
        display: none;
    }

    .nav {
        display: flex;
    }
    .art {
        
        width: 45%;
    }
    .art__nombre-articulo {
        /* display: block; */
    }
}
@media (min-width: 1200px){
    .header {
        padding: 12px 60px;
    }
    .header__buscador {
        width: 50%;
    }
    .nav__item {
        margin: 0 10px;
    }

    .art {
        width: 22%;
    }
}   