* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #EAC926;
    font-size: 12px;
    font-family: Roboto, sans-serif;
}



.header {
    padding: 10px;
}
.header__logo {
    width: 50%;
}
.header__buscador {
    display: block;
}
.header__text--center {
    text-align: center;
}
.header__menu {
    background-color: #1259c3;
    text-align: center;
    margin: 0 auto;
    width: 10vw;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
}



.nav__item {
    list-style-type: none;
}
.nav__link {
    color: black;
    text-decoration: none;
}



.main {
    text-align: center;
    margin: 0 auto;
    width: 90vw;
}
.main__banner {
    width: 100%;
}
.main__titulo {
    font-size: 24px;
}


.art {
    margin-bottom: 10px;
}
.art__img {
    width: 80%;
}
.art__precio {
    text-align: left;
    font-size: 18px;
}
.art__descuento {
    text-align: left;
    font-size: 16px;
}
.art__nombre-articulo {
    text-align: left;
    font-size: 20px;
}



.footer {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.footer__icon {
    color: #1259c3;
    font-size: 4em;
    margin-top: 20px;
}

.footer__titles {
    margin: 8px;
    color: #222;
}

.footer__text {
    font-size: 12px;
    color: #666;
    margin: 5px;
}

.footer__copyright {
    font-size: 10px;
    text-align: left;
    margin-top: 30px;
}