:root {
    --color-blanco: white;
    --color-amarillo: #EAC926;
    --color-crema: #ebebeb;
    --color-azul: #1259c3;
    --color-verde: green;
    --color-gris: #222;
    --color-gris-claro: #666;
}
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    
    background-color: var(--color-crema);
}



.header {
    background-color: var(--color-amarillo);
    padding: 10px;
}
.header__logo {
    width: 50%;
}
.header__buscador {
    display: block;
}
.header__text--center {
    text-align: center;
}
.header__menu {
    background-color: var(--color-azul);
    text-align: center;
    margin: 0 auto;
    width: 10vw;
    padding: 10px 0;
    color: var(--color-blanco);
    border-radius: 5px;
}



.nav__item {
    list-style-type: none;
}
.nav__link {
    color: black;
    text-decoration: none;
}



.main {
    text-align: center;
    margin: 0 auto;
    width: 90vw;
}
.main__banner {
    width: 100%;
}
.main__titulo {
    font-size: 24px;
}


.art {
    margin-bottom: 10px;
    background-color: var(--color-blanco);
}
.art__img {
    width: 100%;
}
.art__descripcion {
    border-top: 1px solid var(--color-crema);
    padding: 15px;
    text-align: left;
}
.art__logo-envio {
    color: var(--color-verde);
    font-size: 1.2rem;
}
.art__precio {
    font-size: 1.1rem;
}
.art__descuento {
    color: var(--color-verde);
    font-size: 1rem;
}
.art__nombre-articulo {
    font-size: 1.3rem;
}



.footer {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.footer__icon {
    color: var(--color-azul);
    font-size: 4em;
    margin-top: 20px;
}

.footer__titles {
    margin: 8px;
    color: var(--color-gris);
}

.footer__text {
    font-size: 12px;
    color: var(--color-gris-claro);
    margin: 5px;
}

.footer__copyright {
    font-size: 10px;
    text-align: left;
    margin-top: 30px;
}